.git
.idea
.gitignore
README.md
Changelog.md
Dockerfile
docker-compose.yml
.phpunit.result.cache
.gitlab-ci.yml
docs

data
logs
docker/ssl
node_modules
public/hot
public/storage
public/logs/*.log
storage/*.key
vendor
data
logs
