/node_modules
/public/hot
/public/storage
/public/logs/*.log
/storage/*.key
/vendor
/data
/logs
/docker/ssl
/.idea
/docs
.env
.env.behat
.env.template
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
behat.yml
/laravel-echo-server.json
/useful
